/*****************************************************************************
RESET
*****************************************************************************/

html,
body,
div,
span,
a,
p,
ul,
li,
nav,
header,
aside,
section{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body{
  background-color: black;
  font-family: 
    HelveticaNeue, 'Helvetica Neue', HelveticaNeueRoman, 
    HelveticaNeue-Roman, 'Helvetica Neue Roman', Helvetica, 
    Tahoma, Geneva, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1{
  color: #717880;
  text-shadow: 0 1px white;
  margin: 0;
  padding: 0;
  padding: 9px 0;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}


input[type="number"],
input[type="text"],
textarea{
  width: 100%;
  height: 20px;
  outline: none;
  border: 1px solid #888;
  border-radius: 3px;
  padding: 10px;
  font-family: 
    HelveticaNeue, 'Helvetica Neue', HelveticaNeueRoman, 
    HelveticaNeue-Roman, 'Helvetica Neue Roman', Helvetica, 
    Tahoma, Geneva, Arial, sans-serif;
  font-size: 18px;
  font-weight: 200;
  font-weight: normal;

  background-color: #F0F0F0;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);

  -webkit-transition: height 0.3s;
}

input[type="number"]{
  display: inline-block;
  width: 120px;
}

input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus{
  background-color: white;
  border-color: #415FC6;
  box-shadow: 
    inset 0 0 3px #7290F4,
    0 0 2px #7290F4;
}

textarea:focus{
  height: 100px;
}