/*****************************************************************************
RESET
*****************************************************************************/

html,
body,
div,
span,
a,
p,
ul,
li,
nav,
header,
aside,
section{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body{
  background-color: black;
  font-family: 
    HelveticaNeue, 'Helvetica Neue', HelveticaNeueRoman, 
    HelveticaNeue-Roman, 'Helvetica Neue Roman', Helvetica, 
    Tahoma, Geneva, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1{
  color: #717880;
  text-shadow: 0 1px white;
  margin: 0;
  padding: 0;
  padding: 9px 0;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}