/*****************************************************************************
Helpful Flags for Development
*****************************************************************************/

img.dev{
  opacity: 0;
  position: fixed;
  width:1024px;
}

/*****************************************************************************
Core Layout
*****************************************************************************/

.statusbar{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}

.frame{
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  opacity: 1;
}

aside{
  background-color: #F5F5F5;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 20px;
  width: 320px;
}

/* Right-hand side of split pane */
.main{
  background-color: white;
  border-radius: 3px;
  bottom: 0;
  left: 321px;
  padding-top: 45px;
  position: fixed;
  right: 0;
  top: 20px;
  
  /* min-width: 700px; iPad specific width */
}

nav{
  background-color: #D3D5DC;
  background: -webkit-linear-gradient(top, #F4F5F7, #EEEFF2, #CBCED5, #A6AAB7);

  border-bottom: 1px solid #7A8091;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow:
    inset 0 1px 0 #FFF,
    0 3px 2px rgba(0,0,0,0.1);
  height: 45px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -webkit-user-select: none;
  z-index: 1;
}

/*****************************************************************************
Patient List
*****************************************************************************/

nav .btn{
  border-radius: 4px;
  display: inline-block;
  padding: 6px 16px;
  margin: 6px 8px;
  height: 32px;
  min-width: 50px;
  cursor: pointer;

  float: right;
  border: 1px solid #555;
  background: -webkit-linear-gradient(top, #B5B8BC, #94989F, #6A707A);
  box-shadow: 
    inset 0 2px 3px rgba(255,255,255,0.2),
    inset 0 1px 2px rgba(0,0,0,0.4);
  color: #F9F9F9;
  text-shadow: 0 -1px #000;
  font-weight: normal;
  font-size: 15px;
}

nav .btn:active{
  background: -webkit-linear-gradient(top, #94989F, #5B6068, #333);
  box-shadow: 
    inset 0 1px 1px rgba(0,0,0,0.6),
    inset 0 3px 2px rgba(0,0,0,0.1);
}



.main header{
  background: -webkit-linear-gradient(top, #CCC, #EEE);
  background-color: #CCC;
  border-bottom: 1px solid #777;  
  min-height: 250px;
  padding: 50px;
  text-align: left;
}

nav.tabs{
  text-align: center;
}

ul.tabs{
  display: inline-block;
  list-style-type: none;
  margin: 5px;
  padding: 0;
  font-size: 0;
  border: 1px solid #666;
  border-radius: 4px;

  /*background: -webkit-linear-gradient(top, #444, #404040, #222222);*/
}
ul.tabs li{
  background: -webkit-linear-gradient(top, #F2F3F5, #EFF0F3,  #B4B6C2);
  box-shadow: 
    inset 0 1px 0 #FFF,
    inset 0 2px 3px rgba(255,255,255,0.8);
  border-left: 1px solid #666;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  text-shadow: 0 1px white;
  padding: 6px 16px;
  height: 32px;
  width: 150px;
  cursor: pointer;
}
ul.tabs li:first-child{
  border-left: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

ul.tabs li:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

ul.tabs li.selected,
ul.tabs li:active{
  background: -webkit-linear-gradient(top, #BEC1CA, #EEE);
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
}

/*
ul.tabs{
  box-shadow: inset 0 -1px 0 #222;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  font-size: 0;
}
ul.tabs li{
  background: -webkit-linear-gradient(top, #FFF, #F4F5F7, #EEE, #DDD);

  border: 1px solid #222;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #888;
  text-shadow: 0 1px #FFF;

  display: inline-block;
  text-align: left;

  font-size: 18px;
  font-weight: bold;
  margin: 1px 3px;
  padding: 12px 16px;
  height: 50px;
  width: 32%;
}
ul.tabs li.selected{
  background: -webkit-linear-gradient(top, #FFF, #F0F1F4, #E5E6EA);
  box-shadow: 0 1px 0 #E5E6EA;
}

.tabcontent{
  margin: 0;
  min-height: 400px;
  background-color: #EEE;
}

.tabcontent nav{
  background: -webkit-linear-gradient(top, #E5E6EA, #D6D8DE, #CACCD3);
  border-radius: 0;
  border-bottom: 1px solid #888;
  box-shadow: none;
}*/