/*****************************************************************************
Helpful Flags for Development
*****************************************************************************/

img.dev{
  opacity: 0;
  position: fixed;
  width:1024px;
}

/*****************************************************************************
Core Layout
*****************************************************************************/

.statusbar{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}

.frame{
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  opacity: 1;
}

aside{
  background-color: #F5F5F5;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  padding-top: 45px;
  position: fixed;
  top: 20px;
  width: 320px;
}

/* Right-hand side of split pane */
.main{
  background-color: white;
  border-radius: 3px;
  bottom: 0;
  left: 321px;
  padding-top: 45px;
  position: fixed;
  right: 0;
  top: 20px;
  
  /* min-width: 700px; iPad specific width */
}

.portraitOnly{
  visibility: hidden;
}

@media all and (max-width: 800px) {
  .portraitOnly{
    visibility: visible;
  }
  .main{
    left: 0;
  }
  aside{
    opacity: 0;
    z-index: -1;
  }
}

nav{
  background-color: #D3D5DC;
  background: -webkit-linear-gradient(top, #F4F5F7, #EEEFF2, #CBCED5, #A6AAB7);

  border-bottom: 1px solid #7A8091;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow:
    inset 0 1px 0 #FFF,
    0 3px 2px rgba(0,0,0,0.1);
  height: 45px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -webkit-user-select: none;
  z-index: 1;
}

nav .btn,
.btn{
  border-radius: 4px;
  display: inline-block;
  padding: 6px 16px;
  margin: 6px 8px;
  height: 32px;
  min-width: 50px;
  cursor: pointer;

  float: right;
  border: 1px solid #555;
  background: -webkit-linear-gradient(top, #B5B8BC, #94989F, #6A707A);
  box-shadow: 
    inset 0 2px 3px rgba(255,255,255,0.2),
    inset 0 1px 2px rgba(0,0,0,0.4);
  color: #F9F9F9;
  text-shadow: 0 -1px rgba(0,0,0,0.8);
  font-weight: bold;
  font-size: 15px;

  -webkit-transition: opacity 0.5s;
  opacity: 1;
}

.btn.hidden{
  opacity: 0;
}

nav .btn.btnLeft,
.btn.btnLeft{
  float: left;
}

nav .btn.btnBlue,
.btn.btnBlue{
  background: -webkit-linear-gradient(top, #6F8CDF,#587CDE, #375CD3, #274CC0);
  border: 1px solid #304998;
  box-shadow: 
    inset 0 1px 2px rgba(0,0,0,0.2);
}

nav .btn:active,
.btn:active{
  background: -webkit-linear-gradient(top, #94989F, #5B6068, #333);
  box-shadow: 
    inset 0 1px 1px rgba(0,0,0,0.6),
    inset 0 3px 2px rgba(0,0,0,0.1);
}

/*****************************************************************************
Patient List
*****************************************************************************/
aside ul.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
aside ul.list li{
  border-bottom: 1px solid #DDD;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
}
aside ul.list li p{
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

aside ul.list li.selected{
  background: -webkit-linear-gradient(top, #508CE6, #4B82E6, #4373E2, #3B63DD);
  border-bottom: 1px solid #3152AC;
  box-shadow: 
    0 -1px 0 #3152AC;
  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
aside ul.list li.selected p{
  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}


/*****************************************************************************
Patient Information
*****************************************************************************/

.main{
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.main header{
  background: -webkit-linear-gradient(top, #C0C0C0, #EEE);
  background-color: #CCC;
  border-bottom: 1px solid #777;  
  min-height: 250px;
  padding: 40px 60px;
  text-align: left;
  overflow: hidden;
}

.main header h1{
  font-size: 22px;
  text-align: left;
}
.main header ul{
  list-style-type: none;
  font-size: 16px;
  color: #444;
}
.main header li{
  padding: 5px 0;
}

.main .testtarget{
  display: inline-block;
  width: 200px;
  height: 180px;
  padding: 10px;
  float: right;
  position: relative;
  text-align: center;
}
.main .testtarget .paper{
  position: absolute;
  top: -10px;
  right: 40px;
  display: inline-block;
  width: 150px;
  height: 180px;
  padding: 0;

  background-color: white;
  border-radius: 2px;
  border: 1px solid #666;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  -webkit-transform:rotate(3deg); 
}

.main .testtarget .paper img{
  position: relative;
  top: 0px;
  right: 0px;
  width: 150px;
}
.main .testtarget .paper:nth-child(1){
  -webkit-transform:rotate(-2deg); 
}

nav.tabs{
  text-align: center;
}

.main{
  overflow: visible;
}

.tabdivider{
  height: 45px;
}

.tabsection{
  background-color: white;
  position: relative;
  top: 0;
  z-index: 2;
  height: -webkit-calc(100% - 325px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: top 0.5s;
}

.tabsection.full{
  top: -305px;
  height:  -webkit-calc(100%);
}


ul.tabs{
  display: inline-block;
  list-style-type: none;
  margin: 5px;
  padding: 0;
  font-size: 0;
  border: 1px solid #666;
  border-radius: 4px;

  /*background: -webkit-linear-gradient(top, #444, #404040, #222222);*/
}
ul.tabs li{
  background: -webkit-linear-gradient(top, #F2F3F5, #EFF0F3,  #B4B6C2);
  box-shadow: 
    inset 0 1px 0 #FFF,
    inset 0 2px 3px rgba(255,255,255,0.8);
  border-left: 1px solid #666;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  text-shadow: 0 1px rgba(255,255,255,0.8);
  padding: 6px 16px;
  height: 32px;
  width: 150px;
  cursor: pointer;
}
ul.tabs li:first-child{
  border-left: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

ul.tabs li:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

ul.tabs li.selected,
ul.tabs li:active{
  background: -webkit-linear-gradient(top, #BEC1CA, #EEE);
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
}

.tabcontent{
  opacity: 1;
  z-index: 1;
  display: block;
  -webkit-transition: opacity .2s ease-in-out;
}
.tabcontent.hidden{
  opacity: 0;
  z-index: -1;
  display: none;
}
/*****************************************************************************
Ulcer List
*****************************************************************************/

ul.ulcers{
  list-style-type: none;
  margin: 0;
  padding: 0
  color: #444;
}
ul.ulcers li{
  border-bottom: 1px solid #CCC;
  position: relative;
  padding: 30px;
  padding-left: 180px;
  padding-left: 160px;
}

ul.ulcers li img{
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 30px;

}
ul.ulcers .ulcerDescription{
  font-size: 14px;
  line-height: 24px;
  color: #444;
}

ul.ulcers li strong{
  font-size: 18px;
  font-weight: normal;
}

ul.ulcers .btnArray{
  position: absolute;
  top: 35px;
  right: 35px;
  width: 250px;
  height: 50px;
}

ul.ulcers .btnArray .btn{

  background: -webkit-linear-gradient(top, #FFF, #F0F0F0);
  border: 1px solid #BBB;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  height: 50px;
  width: 100px;
  text-align: center;
  padding: 15px 10px;

  color: #666;
  text-shadow: 0 1px white;

}

ul.ulcers .btnArray .btn:active{

  background: -webkit-linear-gradient(top, #DDD, #E0E0E0);
  border: 1px solid #888;
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.3);

}

/*****************************************************************************
Reminder List
*****************************************************************************/
ul.reminders{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.reminders li{
  position: relative;
  padding: 30px;
  padding-left: 120px;
  padding-right: 260px;
  border-bottom: 1px solid #CCC;
  font-size: 20px;
  color: #444;
}
ul.reminders .time{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
}

ul.reminders .checkbox{
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 4px;
  position: absolute;
  top: 28px;
  left: 60px;
  background: -webkit-linear-gradient(top,#F7E064, #F7CA19, #EEB70D);
  background-color: #E2B543;
  border: 1px solid #9A692E;
  border-radius: 6px;
  cursor: pointer;
}

ul.reminders .checkbox img{
   -webkit-user-select: none;
  width: 20px;
  opacity: 0;
  z-index: -1;
  -webkit-transform: scale(3);
  -webkit-transition: all 0.2s;
}

ul.reminders li.complete{
  background-color: #EEE;
  color: #AAA;
}
ul.reminders li.complete .checkbox{
  border: 1px solid #888;
  background: -webkit-linear-gradient(top, #CCC, #EEE);
}

ul.reminders li.complete .checkbox img{
  opacity: 0.3;
  z-index: 1;
  -webkit-transform: scale(1); 
  /*-webkit-animation: checkOff 0.5s;*/
}

@-webkit-keyframes checkOff {
  0%   { opacity: 0; -webkit-transform: scale(3); }
  50% { opacity: 0.5; -webkit-transform: scale(0.7); }
  75% { opacity: 0.5; -webkit-transform: scale(1.2); }
  100% { opacity: 0.5; -webkit-transform: scale(1); }
}


/*****************************************************************************
Note List
*****************************************************************************/
.notes{
  /* background-color: #F4F0DD; */
}

ul.notes{
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
  color: #444;
}

ul.notes li{
  position: relative;
  padding: 20px 50px;
  padding-left: 160px;
  font-size: 18px;
  line-height: 26px;

  border-bottom: 1px solid #CCC;
}
ul.notes .time{
  font-size: 12px;
  font-weight: bold;
  color: #222;
}
ul.notes .tags{
  position: absolute;
  top: 20px;
  left: 50px;
  width: 150px;
  text-align: left;

  font-size: 12px;
  text-transform: uppercase;
}

ul.notes .newNote{
  position: relative;
  /*padding-bottom: 0;*/
}

ul.notes .newNote textarea{
  position: relative;
  /*top: -30px;*/
  top: 0;
  width: -webkit-calc(100% - 30px);
}
ul.notes .newNote .postNote{
  position: relative;
  /*top: -30px;*/
  line-height: normal;
}

ul.notes .newNote textarea:focus + .submitBtn{

}

/*****************************************************************************
Add Ulcer View
*****************************************************************************/
.view{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: white;
  border-radus: 4px;
  overflow: hidden;
  z-index: 10;
  opacity: 1;
  
  -webkit-transition: all 1s ease-in-out, z-index 0.5s;
  -webkit-transform: translate(0px,0px);
}
.view.hidden{
  opacity: 0;
  z-index: -1;
  -webkit-transform: translate(0px,4000px);
  /*-webkit-transform: translate(500px,0);*/
}
.view .viewContent{
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  width: 100%;
  height: -webkit-calc(100% - 45px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate(0px,0px);
}

#addUlcerPane .viewContent, #bradenScalePane .viewContent{
  background: -webkit-linear-gradient(top, #BBB, #EEE);
}
#addUlcerPane input[type='text']{
  width: 320px;
}

#addUlcerPane img{
  margin-top: 15px;
  width: 340px;
}

#addUlcerPhotoInput{
  /* -webkit-transform: translate(0px,2000px); */
}

/***********************
Braden (plus some above)
***********************/


#bradenBtn{
  /* color: #C03B29; */
}

ul.steps{
  list-style-type: none;
  margin: 30px;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
}

ul.steps > li{
  background-color: #EEE;
  border: 1px solid #444;
  border-radius: 4px;
  color: #444;
  padding: 40px;
  padding-top: 40px;
  padding-left: 250px;
  position: relative;
  margin-bottom: 30px;
  min-height: 100px;
  -webkit-transform: translate(0px,0px);
}
ul.steps > li .stepName{
  position: absolute;
  top: 50px;
  left: 40px;
  font-size: 20px;
  color: #222;
}

ul.steps > li .stepDesc{
  position: absolute;
  top: 80px;
  left: 40px;
  width: 190px;
  font-size: 14px;
}

ul.steps > li .stepProgress{
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  font-size: 14px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #CCC;
  padding: 5px 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #444;
  border-left: 1px solid #444;
}

ul.steps ul.stepOptions{
  list-style-type: none;
}
ul.steps ul.stepOptions li{
  display: block;
  padding: 10px 12px;
  font-size: 12px;
}
ul.steps ul.stepOptions li strong{
  font-size: 16px;
  font-weight: bold;
}
ul.steps ul.stepOptions li.selected{
  border-radius: 5px;
  background: -webkit-linear-gradient(top,#F7E064, #F7CA19, #EEB70D);
  background-color: #E2B543;
  border: 1px solid #9A692E;
}


ul.steps > li.collapsed ul.stepOptions li{
  display: none;
}
ul.steps > li.collapsed ul.stepOptions li.selected,
ul.steps > li ul.stepOptions li{
  display: block;
}

ul.steps > li.collapsed{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;

  /*-webkit-animation: collapseStep 0.4s 1;*/

}

/*
@-webkit-keyframes collapseStep {
  0%   { min-height: 300px;}
  100% { min-height: 100px;}
}
*/

ul.steps > li.collapsed .stepName{
  top: 30px;
  color: #222;
}

ul.steps > li.collapsed .stepDesc{
  top: 60px;
}
ul.steps > li.collapsed ul.stepOptions li.selected{
  position: relative;
  top: 10px;
  border: 1px solid #888;
  background: -webkit-linear-gradient(top, #EEE, #FFF);
  margin-bottom: 20px;
}
ul.steps > li.collapsed .stepProgress{
  opacity: 0;
}

footer.bradenConclusion{
  margin: 40px 30px 60px 30px;

  padding: 30px 40px;
  background-color: #DDD;
  border: 1px solid #AF5031;
  border-radius: 5px;
  box-shadow: 
    inset 0 0 3px #FD5858;
  color: #AF5031;

  font-size: 20px;
  text-align: center;
}


#bradenScalePane table{
  background: -webkit-linear-gradient(top, #EBEBEB, #FAFAFA);
  margin: 45px auto 100px;  
  box-shadow: 0 3px 5px rgba(0,0,0,0.4);
  width: 80%;
}

td {
 border-bottom: 1px solid #AAA;
}

td.bdnNum{
  padding: 5px 5px 2px 2px;
  vertical-align: top;
  border-right: 1px solid #AAA;
}

td.bdnQst{
  text-align: center;
  padding: 5px 6px;
  vertical-align: top;
  border-right: 1px solid #AAA;
}

td.bdnAns{
  padding: 5px 6px 10px;
  vertical-align: top;
}

.friction td{
  border-bottom: none;
}



/*****************************************************************************
Modal
*****************************************************************************/

.modalBackdrop{
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);

  -webkit-transition: opacity 0.5s;
}

.modalBackdrop.visible{
  z-index: 2;
  opacity: 1;
}
.modalBackdrop.visible .modal{
  top: 0;
  -webkit-animation: popIn 1s;
}

.modal{
  position: relative;
  top: 2000px;
  width: 600px;
  height: 400px;
  margin: 100px auto;
  background-color: white;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.4);

  /*-webkit-transition: top 0.5s;*/
  
}

@-webkit-keyframes popIn {
  0%   { opacity: 0; top: 2000px;}
  70% { opacity: 1; top: -20px;}
  90% { opacity: 1; top: 10px;}
  100% { opacity: 1; top: 0;}
}

.modalContent{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 160px;
  position: absolute;
  top: 45px;
  left: 0;
  height: -webkit-calc(100% - 45px);

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/*
.modal .options{
  background-color: #EEE;
  border-right: 1px solid #888;
  border-bottom-left-radius: 5px;
  width: 160px;
  position: absolute;
  top: 45px;
  left: 0;
  height: -webkit-calc(100% - 45px);
}
*/



/*
ul.tabs{
  box-shadow: inset 0 -1px 0 #222;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  font-size: 0;
}
ul.tabs li{
  background: -webkit-linear-gradient(top, #FFF, #F4F5F7, #EEE, #DDD);

  border: 1px solid #222;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #888;
  text-shadow: 0 1px #FFF;

  display: inline-block;
  text-align: left;

  font-size: 18px;
  font-weight: bold;
  margin: 1px 3px;
  padding: 12px 16px;
  height: 50px;
  width: 32%;
}
ul.tabs li.selected{
  background: -webkit-linear-gradient(top, #FFF, #F0F1F4, #E5E6EA);
  box-shadow: 0 1px 0 #E5E6EA;
}

.tabcontent{
  margin: 0;
  min-height: 400px;
  background-color: #EEE;
}

.tabcontent nav{
  background: -webkit-linear-gradient(top, #E5E6EA, #D6D8DE, #CACCD3);
  border-radius: 0;
  border-bottom: 1px solid #888;
  box-shadow: none;
}*/
